<a href="https://colab.research.google.com/github/LESRLUEN/CYP2020/blob/main/TAREA5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Ejercicio 3.1
import array
array.array('f')
sueldos = array.array('f',(0 for i in range(0, 10)))

nomina = float(0)

for i in range (0, 10):
  sueldos[i] = int(input(f"Ingresa el {i+1} sueldo: "))
  nomina += sueldos[i]

print("La nomina de la empresa con base a los sueldos es: ", nomina)

#EL LIBRO TIENE MARCADO QUE NO SE DEBE REALIZAR EL ALGORITMO CON NINGUNA ESTRUCTURA DE REPETICIÓN. SIN EMBARGO, ESE ES EL TEMA Y EL PRIMER EJEMPLO
#DE DICHA SECCIÓN DEL LIBRO. MARCARÉ EN COMENTARIOS ÉSTE EJERCICIO SIN USAR FOR, WHILE, DO WHILE.

#sueldo1 = 0, sueldo2 = 0, sueldo3 = 0, sueldo4 = 0, sueldo5 = 0, sueldo6 = 0, sueldo7 = 0, sueldo8 = 0, sueldo9 = 0, sueldo10 = 0
#nomina = float(0)

#sueldo1 = float(input("Ingresa el primer sueldo: "))
#sueldo2 = float(input("Ingresa el segundo sueldo: "))
#sueldo3 = float(input("Ingresa el tercer sueldo: "))
#sueldo4 = float(input("Ingresa el cuarto sueldo: "))
#sueldo5 = float(input("Ingresa el quinto sueldo: "))
#sueldo6 = float(input("Ingresa el sexto sueldo: "))
#sueldo7 = float(input("Ingresa el séptimo sueldo: "))
#sueldo8 = float(input("Ingresa el octavo sueldo: "))
#sueldo9 = float(input("Ingresa el noveno sueldo: "))
#sueldo10 = float(input("Ingresa el décimo sueldo: "))

#nomina = sueldo1 + sueldo2 + sueldo3 + sueldo4 + sueldo5 + sueldo6 + sueldo7 + sueldo8 + sueldo9 + sueldo10

#print("La nomina de la empresa es: ",nomina)

Ingresa el 1 sueldo: 459
Ingresa el 2 sueldo: 2368
Ingresa el 3 sueldo: 5698
Ingresa el 4 sueldo: 4125
Ingresa el 5 sueldo: 3256
Ingresa el 6 sueldo: 1457
Ingresa el 7 sueldo: 2578
Ingresa el 8 sueldo: 9874
Ingresa el 9 sueldo: 2544
Ingresa el 10 sueldo: 9999
La nomina de la empresa con base a los sueldos es:  42358.0

In [2]:
#Ejercicio 3.4

import array
array.array('f')
gastos = array.array('f',(0 for i in range(0, 999)))
a = int(0)
yes_no = ''
total_gastos = float(0)

while True:
  gastos[a] = float(input(f"¿De cuanto fue el {a+1} gasto?: "))
  total_gastos += gastos[a]
  while True:
    yes_no = ''
    yes_no = str(input("¿Hubo algún otro gasto? S/N: "))
    if yes_no == 's' or yes_no == 'S' or yes_no == 'n' or yes_no == 'N':
      break;
    else:
      print("Debes ingresar S o N para continuar.\n")
  if yes_no == 'n' or yes_no == 'N':
    break;
  elif yes_no == 's' or yes_no == 'S':
    a += 1

print("\nEl total de gastos durante el viaje es de: ",total_gastos)
print("\nLos gastos individuales son:\n")

for i in range (0, a+1):
  print(f"{i+1} gasto es de: {gastos[i]}")

¿De cuanto fue el 1 gasto?: 0
¿Hubo algún otro gasto? S/N: 2528
Debes ingresar S o N para continuar.

¿Hubo algún otro gasto? S/N: s
¿De cuanto fue el 2 gasto?: 2528
¿Hubo algún otro gasto? S/N: s
¿De cuanto fue el 3 gasto?: 5689
¿Hubo algún otro gasto? S/N: n

El total de gastos durante el viaje es de:  8217.0

Los gastos individuales son:

1 gasto es de: 0.0
2 gasto es de: 2528.0
3 gasto es de: 5689.0